/* This file is for your main application css. */
@import "bootstrap";

.container{
	max-width: 1170px !important;
}

.msg {
	text-align: center;
	margin-top: 10%;
}

.cancel{
	margin-left: 7px;
}

.login {
	margin-right: 7px;
}